DysonCustomerService/ObmenCreation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://crm1ctest.dyson.ru"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://crm1ctest.dyson.ru"
		name="ObmenCreation"
		targetNamespace="http://crm1ctest.dyson.ru">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://crm1ctest.dyson.ru"
				targetNamespace="http://crm1ctest.dyson.ru"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="ISU_ИсточникиПродаж">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ВидыНоменклатурыCRM">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="Сategories"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Сategorie"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ДефектыСоСловКлиента">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ЗаказКлиента">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="CreateDate"
							type="xs:dateTime"/>
					<xs:element name="Date_Tk_Load"
							type="xs:dateTime"/>
					<xs:element name="deliveryDate"
							type="xs:date"/>
					<xs:element name="TimeDeliveryFrom"
							type="xs:int"/>
					<xs:element name="TimeDeliveryTo"
							type="xs:int"/>
					<xs:element name="TK_Plandate"
							type="xs:date"/>
					<xs:element name="completeDate"
							type="xs:date"/>
					<xs:element name="orderIdPublic"
							type="xs:int"/>
					<xs:element name="orderID"
							type="xs:string"/>
					<xs:element name="OrderStatus"
							type="xs:string"/>
					<xs:element name="TK_Track"
							type="xs:string"/>
					<xs:element name="TK"
							type="xs:string"/>
					<xs:element name="Payment"
							type="xs:string"/>
					<xs:element name="LogisticComment"
							type="xs:string"/>
					<xs:element name="PayTransaction"
							type="xs:string"/>
					<xs:element name="DataReleaseH"
							type="xs:dateTime"/>
					<xs:element name="DataReleaseM"
							type="xs:dateTime"/>
					<xs:element name="PayTransactionODM"
							type="xs:string"/>
					<xs:element name="DataCheckM"
							type="xs:dateTime"/>
					<xs:element name="PayTransacrionOD"
							type="xs:string"/>
					<xs:element name="DataPayChekOD"
							type="xs:dateTime"/>
					<xs:element name="RetTrasactionOD"
							type="xs:string"/>
					<xs:element name="DataRetCheckOD"
							type="xs:dateTime"/>
					<xs:element name="NewPrPay"
							type="xs:boolean"/>
					<xs:element name="DeliveryCost"
							type="xs:decimal"/>
					<xs:element name="Comment"
							type="xs:string"/>
					<xs:element name="Manager"
							type="xs:string"/>
					<xs:element name="Account"
							type="xs:string"/>
					<xs:element name="PhoneNumber"
							type="xs:string"/>
					<xs:element name="email"
							type="xs:string"/>
					<xs:element name="CourierInfo"
							type="xs:string"/>
					<xs:element name="Region"
							type="xs:string"/>
					<xs:element name="Locality"
							type="xs:string"/>
					<xs:element name="Street"
							type="xs:string"/>
					<xs:element name="Metro"
							type="xs:string"/>
					<xs:element name="House"
							type="xs:string"/>
					<xs:element name="Building"
							type="xs:string"/>
					<xs:element name="Korp"
							type="xs:string"/>
					<xs:element name="Flat"
							type="xs:string"/>
					<xs:element name="Entrance"
							type="xs:string"/>
					<xs:element name="FLOOR"
							type="xs:string"/>
					<xs:element name="Intercom"
							type="xs:string"/>
					<xs:element name="City"
							type="xs:string"/>
					<xs:element name="DistanceFromMKAD"
							type="xs:string"/>
					<xs:element name="Area"
							type="xs:string"/>
					<xs:element name="Lat"
							type="xs:string"/>
					<xs:element name="Lon"
							type="xs:string"/>
					<xs:element name="FIAS"
							type="xs:string"/>
					<xs:element name="ShipDate"
							type="xs:date"/>
					<xs:element name="DysonChannelCode"
							type="xs:string"/>
					<xs:element name="WarehouseCode"
							type="xs:string"/>
					<xs:element name="Organization"
							type="xs:string"/>
					<xs:element name="SalesChannel"
							type="xs:string"/>
					<xs:element name="CreateSystem"
							type="xs:string"/>
					<xs:element name="Tovars"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="TovarCod"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Kol"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="TovarSum"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="RRC"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="SN"
									type="xs:string"
									use="required"/>
							<xs:attribute name="NDS_S"
									type="xs:int"
									use="required"/>
							<xs:attribute name="NDS"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="ProductsCanceled"
									type="xs:boolean"
									use="required"/>
							<xs:attribute name="ReasonCancellation"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Personalization"
									type="xs:boolean"
									use="required"/>
							<xs:attribute name="FoilColor"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Initials"
									type="xs:string"
									use="required"/>
							<xs:attribute name="PROMOCODE"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Bundle"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ЗаявкаНаРемонт">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="CreateDate"
							type="xs:dateTime"/>
					<xs:element name="Organization"
							type="xs:string"/>
					<xs:element name="Account"
							type="xs:string"/>
					<xs:element name="WarehouseCode"
							type="xs:string"/>
					<xs:element name="ServiceOption"
							type="xs:string"/>
					<xs:element name="TypeRepair"
							type="xs:string"/>
					<xs:element name="Article"
							type="xs:string"/>
					<xs:element name="SN"
							type="xs:string"/>
					<xs:element name="DateDeparture"
							type="xs:dateTime"/>
					<xs:element name="Master"
							type="xs:string"/>
					<xs:element name="Shop"
							type="xs:string"/>
					<xs:element name="DatePurchase"
							type="xs:date"/>
					<xs:element name="TypeGuarantee"
							type="xs:string"/>
					<xs:element name="RenewalWarranty"
							type="xs:boolean"/>
					<xs:element name="ActualDateRepairExecution"
							type="xs:date"/>
					<xs:element name="InformationClient"
							type="xs:string"/>
					<xs:element name="InternalComment"
							type="xs:string"/>
					<xs:element name="ViolationOperation"
							type="xs:boolean"/>
					<xs:element name="CommentsResultRepair"
							type="xs:string"/>
					<xs:element name="InterviewStatus"
							type="xs:string"/>
					<xs:element name="CustomerNote"
							type="xs:string"/>
					<xs:element name="NPSServiceIndex"
							type="xs:int"/>
					<xs:element name="ServiceDescription"
							type="xs:string"/>
					<xs:element name="NPSProductIndex"
							type="xs:int"/>
					<xs:element name="ProductDescription"
							type="xs:string"/>
					<xs:element name="RequestStatus"
							type="xs:string"/>
					<xs:element name="RequestFailureReason"
							type="xs:string"/>
					<xs:element name="ReplacementEquipmentRequired"
							type="xs:boolean"/>
					<xs:element name="RequestOpinion"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Defect"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="ClientDefect"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="DefectsAccordingClient"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="SparePart"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Spare"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Required"
									type="xs:int"
									use="required"/>
							<xs:attribute name="Availability"
									type="xs:int"
									use="required"/>
							<xs:attribute name="Price"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="Paid"
									type="xs:boolean"
									use="required"/>
							<xs:attribute name="SpareAmount"
									type="xs:decimal"
									use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Service"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Service"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Kol"
									type="xs:int"
									use="required"/>
							<xs:attribute name="Amount"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="Paid"
									type="xs:boolean"
									use="required"/>
							<xs:attribute name="Content"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Price"
									type="xs:decimal"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Категории">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="Description"
							type="xs:string"/>
					<xs:element name="EquipCode"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="EquipmentCode"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="КодОборудования">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="Description"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Контрагенты">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="Surname"
							type="xs:string"/>
					<xs:element name="Patronymic"
							type="xs:string"/>
					<xs:element name="TypeLE"
							type="xs:string"/>
					<xs:element name="PhoneNumber"
							type="xs:string"/>
					<xs:element name="Email"
							type="xs:string"/>
					<xs:element name="FSR"
							type="xs:boolean"/>
					<xs:element name="FSSMS"
							type="xs:boolean"/>
					<xs:element name="FSE"
							type="xs:boolean"/>
					<xs:element name="FSCO"
							type="xs:boolean"/>
					<xs:element name="FMR"
							type="xs:boolean"/>
					<xs:element name="FMSMS"
							type="xs:boolean"/>
					<xs:element name="FME"
							type="xs:boolean"/>
					<xs:element name="FMCO"
							type="xs:boolean"/>
					<xs:element name="OPTINsent"
							type="xs:dateTime"/>
					<xs:element name="IDDepersonalizedClient"
							type="xs:string"/>
					<xs:element name="ThereAreLK"
							type="xs:boolean"/>
					<xs:element name="StatusClient"
							type="xs:string"/>
					<xs:element name="AddressFact"
							type="xs:string"/>
					<xs:element name="FIAS"
							type="xs:string"/>
					<xs:element name="Region"
							type="xs:string"/>
					<xs:element name="Locality"
							type="xs:string"/>
					<xs:element name="Street"
							type="xs:string"/>
					<xs:element name="Metro"
							type="xs:string"/>
					<xs:element name="House"
							type="xs:string"/>
					<xs:element name="Building"
							type="xs:string"/>
					<xs:element name="Korp"
							type="xs:string"/>
					<xs:element name="Flat"
							type="xs:string"/>
					<xs:element name="Entrance"
							type="xs:string"/>
					<xs:element name="FLOOR"
							type="xs:string"/>
					<xs:element name="Intercom"
							type="xs:string"/>
					<xs:element name="City"
							type="xs:string"/>
					<xs:element name="Area"
							type="xs:string"/>
					<xs:element name="Lat"
							type="xs:string"/>
					<xs:element name="Lon"
							type="xs:string"/>
					<xs:element name="NameL"
							type="xs:string"/>
					<xs:element name="FullName"
							type="xs:string"/>
					<xs:element name="LegalPhoneNumber"
							type="xs:string"/>
					<xs:element name="FSRL"
							type="xs:boolean"/>
					<xs:element name="FMRL"
							type="xs:boolean"/>
					<xs:element name="ObjectTypeList"
							type="xs:string"/>
					<xs:element name="INN"
							type="xs:string"/>
					<xs:element name="KPP"
							type="xs:string"/>
					<xs:element name="FIOYO"
							type="xs:string"/>
					<xs:element name="PostYO"
							type="xs:string"/>
					<xs:element name="MobTelYO"
							type="xs:string"/>
					<xs:element name="EmailYO"
							type="xs:string"/>
					<xs:element name="FIOYD"
							type="xs:string"/>
					<xs:element name="PostYD"
							type="xs:string"/>
					<xs:element name="MobTelYD"
							type="xs:string"/>
					<xs:element name="EmailYD"
							type="xs:string"/>
					<xs:element name="PointSale"
							type="xs:boolean"/>
					<xs:element name="HeadCP"
							type="xs:boolean"/>
					<xs:element name="AddressLegal"
							type="xs:string"/>
					<xs:element name="FIASL"
							type="xs:string"/>
					<xs:element name="RegionL"
							type="xs:string"/>
					<xs:element name="LocalityL"
							type="xs:string"/>
					<xs:element name="StreetL"
							type="xs:string"/>
					<xs:element name="MetroL"
							type="xs:string"/>
					<xs:element name="HouseL"
							type="xs:string"/>
					<xs:element name="BuildingL"
							type="xs:string"/>
					<xs:element name="KorpL"
							type="xs:string"/>
					<xs:element name="FlatL"
							type="xs:string"/>
					<xs:element name="EntranceL"
							type="xs:string"/>
					<xs:element name="FLOORL"
							type="xs:string"/>
					<xs:element name="IntercomL"
							type="xs:string"/>
					<xs:element name="CityL"
							type="xs:string"/>
					<xs:element name="AreaL"
							type="xs:string"/>
					<xs:element name="LatL"
							type="xs:string"/>
					<xs:element name="LonL"
							type="xs:string"/>
					<xs:element name="Billinginfo"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="BIK"
										type="xs:string"/>
								<xs:element name="Currency"
										type="xs:string"/>
								<xs:element name="AccountNumber"
										type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Номенклатура">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="WorkName"
							type="xs:string"/>
					<xs:element name="PrintName"
							type="xs:string"/>
					<xs:element name="Article"
							type="xs:string"/>
					<xs:element name="TradeMark"
							type="xs:string"/>
					<xs:element name="CRM_Category"
							type="xs:string"/>
					<xs:element name="CRM_DeviceType"
							type="xs:string"/>
					<xs:element name="CRM_TypeItem"
							type="xs:string"/>
					<xs:element name="ProductSubcategory"
							type="xs:string"/>
					<xs:element name="UnitID"
							type="xs:string"/>
					<xs:element name="WeightNet"
							type="xs:decimal"/>
					<xs:element name="Height"
							type="xs:decimal"/>
					<xs:element name="Width"
							type="xs:decimal"/>
					<xs:element name="Length"
							type="xs:decimal"/>
					<xs:element name="Volume"
							type="xs:decimal"/>
					<xs:element name="WeightGross"
							type="xs:decimal"/>
					<xs:element name="Bundle"
							type="xs:boolean"/>
					<xs:element name="BundleCode"
							type="xs:string"/>
					<xs:element name="BundleDate"
							type="xs:dateTime"/>
					<xs:element name="BundleSet"
							nillable="true"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="TovarCod"
										type="xs:string"/>
								<xs:element name="Kol"
										type="xs:decimal"/>
								<xs:element name="PartBundlePrice"
										type="xs:decimal"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Ответ">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="YesError"
							type="xs:boolean"/>
					<xs:element name="Errors"
							type="xs:string"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетISU_ИсточникиПродаж">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="SaleSource"
							type="tns:ISU_ИсточникиПродаж"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетВидыНоменклатурыCRM">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="ProductCategory"
							type="tns:ВидыНоменклатурыCRM"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетДефектыКлиента">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="ClientDefect"
							type="tns:ДефектыСоСловКлиента"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетЗаказов">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="Order"
							type="tns:ЗаказКлиента"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетЗаявок">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="Request"
							type="tns:ЗаявкаНаРемонт"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетКатегории">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="ProductType"
							type="tns:Категории"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетКодОборудования">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="ProductSubcategory"
							type="tns:КодОборудования"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетКонтрагентов">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="Partner"
							type="tns:Контрагенты"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетНоменклатуры">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="Tovar"
							type="tns:Номенклатура"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетОтвета">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="YesError"
							type="xs:boolean"/>
					<xs:element name="Errors"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="ID"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Error"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетПользователи">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="User"
							type="tns:Пользователи"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетРегистрация">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="RegSN"
							type="tns:РегистрацияСерийныхНомеровКлиентов"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетТипыУстройств">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="DeviceType"
							type="tns:ТипыУстройств"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетФизическиеЛица">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="User"
							type="tns:ФизическиеЛица"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Пользователи">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="РегистрацияСерийныхНомеровКлиентов">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="CreateDate"
							type="xs:dateTime"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="SN"
							type="xs:string"/>
					<xs:element name="Article"
							type="xs:string"/>
					<xs:element name="TypeGuarantee"
							type="xs:string"/>
					<xs:element name="Shop"
							type="xs:string"/>
					<xs:element name="DatePurchase"
							type="xs:date"/>
					<xs:element name="Comment"
							type="xs:string"/>
					<xs:element name="ID_Сlient"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ТипыУстройств">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="EquipmentCode"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ФизическиеЛица">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="SEX"
							type="xs:string"/>
					<xs:element name="Email"
							type="xs:string"/>
					<xs:element name="TEL"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="PostOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ЗаказКлиента"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOrders">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетЗаказов"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOrdersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSaleSource">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ISU_ИсточникиПродаж"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSaleSourceResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSaleSources">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетISU_ИсточникиПродаж"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSaleSourcesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostContact">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:Контрагенты"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostContactResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostContacts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетКонтрагентов"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostContactsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostAccount">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:Контрагенты"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostAccountResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostAccounts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетКонтрагентов"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostAccountsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostEmployee">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ФизическиеЛица"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostEmployeeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostEmployees">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетФизическиеЛица"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostEmployeesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProduct">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:Номенклатура"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProducts">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетНоменклатуры"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientDefect">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ДефектыСоСловКлиента"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientDefectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientDefects">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетДефектыКлиента"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientDefectsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostManager">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:Пользователи"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostManagerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostManagers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетПользователи"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostManagersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRequests">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетЗаявок"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRequestsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ЗаявкаНаРемонт"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRequestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSNs">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетРегистрация"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSNsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSN">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:РегистрацияСерийныхНомеровКлиентов"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSNResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:Категории"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductTypeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетКатегории"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductTypesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductSubcategorys">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетКодОборудования"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductSubcategorysResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductSubcategory">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:КодОборудования"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductSubcategoryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductCategorys">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетВидыНоменклатурыCRM"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductCategorysResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductCategory">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ВидыНоменклатурыCRM"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostProductCategoryResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostDeviceType">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ТипыУстройств"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostDeviceTypeResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostDeviceTypes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетТипыУстройств"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostDeviceTypesResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="PostOrderRequestMessage">
		<part name="parameters"
				element="tns:PostOrder"/>
	</message>
	<message name="PostOrderResponseMessage">
		<part name="parameters"
				element="tns:PostOrderResponse"/>
	</message>
	<message name="PostOrdersRequestMessage">
		<part name="parameters"
				element="tns:PostOrders"/>
	</message>
	<message name="PostOrdersResponseMessage">
		<part name="parameters"
				element="tns:PostOrdersResponse"/>
	</message>
	<message name="PostSaleSourceRequestMessage">
		<part name="parameters"
				element="tns:PostSaleSource"/>
	</message>
	<message name="PostSaleSourceResponseMessage">
		<part name="parameters"
				element="tns:PostSaleSourceResponse"/>
	</message>
	<message name="PostSaleSourcesRequestMessage">
		<part name="parameters"
				element="tns:PostSaleSources"/>
	</message>
	<message name="PostSaleSourcesResponseMessage">
		<part name="parameters"
				element="tns:PostSaleSourcesResponse"/>
	</message>
	<message name="PostContactRequestMessage">
		<part name="parameters"
				element="tns:PostContact"/>
	</message>
	<message name="PostContactResponseMessage">
		<part name="parameters"
				element="tns:PostContactResponse"/>
	</message>
	<message name="PostContactsRequestMessage">
		<part name="parameters"
				element="tns:PostContacts"/>
	</message>
	<message name="PostContactsResponseMessage">
		<part name="parameters"
				element="tns:PostContactsResponse"/>
	</message>
	<message name="PostAccountRequestMessage">
		<part name="parameters"
				element="tns:PostAccount"/>
	</message>
	<message name="PostAccountResponseMessage">
		<part name="parameters"
				element="tns:PostAccountResponse"/>
	</message>
	<message name="PostAccountsRequestMessage">
		<part name="parameters"
				element="tns:PostAccounts"/>
	</message>
	<message name="PostAccountsResponseMessage">
		<part name="parameters"
				element="tns:PostAccountsResponse"/>
	</message>
	<message name="PostEmployeeRequestMessage">
		<part name="parameters"
				element="tns:PostEmployee"/>
	</message>
	<message name="PostEmployeeResponseMessage">
		<part name="parameters"
				element="tns:PostEmployeeResponse"/>
	</message>
	<message name="PostEmployeesRequestMessage">
		<part name="parameters"
				element="tns:PostEmployees"/>
	</message>
	<message name="PostEmployeesResponseMessage">
		<part name="parameters"
				element="tns:PostEmployeesResponse"/>
	</message>
	<message name="PostProductRequestMessage">
		<part name="parameters"
				element="tns:PostProduct"/>
	</message>
	<message name="PostProductResponseMessage">
		<part name="parameters"
				element="tns:PostProductResponse"/>
	</message>
	<message name="PostProductsRequestMessage">
		<part name="parameters"
				element="tns:PostProducts"/>
	</message>
	<message name="PostProductsResponseMessage">
		<part name="parameters"
				element="tns:PostProductsResponse"/>
	</message>
	<message name="PostClientDefectRequestMessage">
		<part name="parameters"
				element="tns:PostClientDefect"/>
	</message>
	<message name="PostClientDefectResponseMessage">
		<part name="parameters"
				element="tns:PostClientDefectResponse"/>
	</message>
	<message name="PostClientDefectsRequestMessage">
		<part name="parameters"
				element="tns:PostClientDefects"/>
	</message>
	<message name="PostClientDefectsResponseMessage">
		<part name="parameters"
				element="tns:PostClientDefectsResponse"/>
	</message>
	<message name="PostManagerRequestMessage">
		<part name="parameters"
				element="tns:PostManager"/>
	</message>
	<message name="PostManagerResponseMessage">
		<part name="parameters"
				element="tns:PostManagerResponse"/>
	</message>
	<message name="PostManagersRequestMessage">
		<part name="parameters"
				element="tns:PostManagers"/>
	</message>
	<message name="PostManagersResponseMessage">
		<part name="parameters"
				element="tns:PostManagersResponse"/>
	</message>
	<message name="PostRequestsRequestMessage">
		<part name="parameters"
				element="tns:PostRequests"/>
	</message>
	<message name="PostRequestsResponseMessage">
		<part name="parameters"
				element="tns:PostRequestsResponse"/>
	</message>
	<message name="PostRequestRequestMessage">
		<part name="parameters"
				element="tns:PostRequest"/>
	</message>
	<message name="PostRequestResponseMessage">
		<part name="parameters"
				element="tns:PostRequestResponse"/>
	</message>
	<message name="PostSNsRequestMessage">
		<part name="parameters"
				element="tns:PostSNs"/>
	</message>
	<message name="PostSNsResponseMessage">
		<part name="parameters"
				element="tns:PostSNsResponse"/>
	</message>
	<message name="PostSNRequestMessage">
		<part name="parameters"
				element="tns:PostSN"/>
	</message>
	<message name="PostSNResponseMessage">
		<part name="parameters"
				element="tns:PostSNResponse"/>
	</message>
	<message name="PostProductTypeRequestMessage">
		<part name="parameters"
				element="tns:PostProductType"/>
	</message>
	<message name="PostProductTypeResponseMessage">
		<part name="parameters"
				element="tns:PostProductTypeResponse"/>
	</message>
	<message name="PostProductTypesRequestMessage">
		<part name="parameters"
				element="tns:PostProductTypes"/>
	</message>
	<message name="PostProductTypesResponseMessage">
		<part name="parameters"
				element="tns:PostProductTypesResponse"/>
	</message>
	<message name="PostProductSubcategorysRequestMessage">
		<part name="parameters"
				element="tns:PostProductSubcategorys"/>
	</message>
	<message name="PostProductSubcategorysResponseMessage">
		<part name="parameters"
				element="tns:PostProductSubcategorysResponse"/>
	</message>
	<message name="PostProductSubcategoryRequestMessage">
		<part name="parameters"
				element="tns:PostProductSubcategory"/>
	</message>
	<message name="PostProductSubcategoryResponseMessage">
		<part name="parameters"
				element="tns:PostProductSubcategoryResponse"/>
	</message>
	<message name="PostProductCategorysRequestMessage">
		<part name="parameters"
				element="tns:PostProductCategorys"/>
	</message>
	<message name="PostProductCategorysResponseMessage">
		<part name="parameters"
				element="tns:PostProductCategorysResponse"/>
	</message>
	<message name="PostProductCategoryRequestMessage">
		<part name="parameters"
				element="tns:PostProductCategory"/>
	</message>
	<message name="PostProductCategoryResponseMessage">
		<part name="parameters"
				element="tns:PostProductCategoryResponse"/>
	</message>
	<message name="PostDeviceTypeRequestMessage">
		<part name="parameters"
				element="tns:PostDeviceType"/>
	</message>
	<message name="PostDeviceTypeResponseMessage">
		<part name="parameters"
				element="tns:PostDeviceTypeResponse"/>
	</message>
	<message name="PostDeviceTypesRequestMessage">
		<part name="parameters"
				element="tns:PostDeviceTypes"/>
	</message>
	<message name="PostDeviceTypesResponseMessage">
		<part name="parameters"
				element="tns:PostDeviceTypesResponse"/>
	</message>
	<portType name="ObmenCreationPortType">
		<operation name="PostOrder">
			<input message="tns:PostOrderRequestMessage"/>
			<output message="tns:PostOrderResponseMessage"/>
		</operation>
		<operation name="PostOrders">
			<input message="tns:PostOrdersRequestMessage"/>
			<output message="tns:PostOrdersResponseMessage"/>
		</operation>
		<operation name="PostSaleSource">
			<input message="tns:PostSaleSourceRequestMessage"/>
			<output message="tns:PostSaleSourceResponseMessage"/>
		</operation>
		<operation name="PostSaleSources">
			<input message="tns:PostSaleSourcesRequestMessage"/>
			<output message="tns:PostSaleSourcesResponseMessage"/>
		</operation>
		<operation name="PostContact">
			<input message="tns:PostContactRequestMessage"/>
			<output message="tns:PostContactResponseMessage"/>
		</operation>
		<operation name="PostContacts">
			<input message="tns:PostContactsRequestMessage"/>
			<output message="tns:PostContactsResponseMessage"/>
		</operation>
		<operation name="PostAccount">
			<input message="tns:PostAccountRequestMessage"/>
			<output message="tns:PostAccountResponseMessage"/>
		</operation>
		<operation name="PostAccounts">
			<input message="tns:PostAccountsRequestMessage"/>
			<output message="tns:PostAccountsResponseMessage"/>
		</operation>
		<operation name="PostEmployee">
			<input message="tns:PostEmployeeRequestMessage"/>
			<output message="tns:PostEmployeeResponseMessage"/>
		</operation>
		<operation name="PostEmployees">
			<input message="tns:PostEmployeesRequestMessage"/>
			<output message="tns:PostEmployeesResponseMessage"/>
		</operation>
		<operation name="PostProduct">
			<input message="tns:PostProductRequestMessage"/>
			<output message="tns:PostProductResponseMessage"/>
		</operation>
		<operation name="PostProducts">
			<input message="tns:PostProductsRequestMessage"/>
			<output message="tns:PostProductsResponseMessage"/>
		</operation>
		<operation name="PostClientDefect">
			<input message="tns:PostClientDefectRequestMessage"/>
			<output message="tns:PostClientDefectResponseMessage"/>
		</operation>
		<operation name="PostClientDefects">
			<input message="tns:PostClientDefectsRequestMessage"/>
			<output message="tns:PostClientDefectsResponseMessage"/>
		</operation>
		<operation name="PostManager">
			<input message="tns:PostManagerRequestMessage"/>
			<output message="tns:PostManagerResponseMessage"/>
		</operation>
		<operation name="PostManagers">
			<input message="tns:PostManagersRequestMessage"/>
			<output message="tns:PostManagersResponseMessage"/>
		</operation>
		<operation name="PostRequests">
			<input message="tns:PostRequestsRequestMessage"/>
			<output message="tns:PostRequestsResponseMessage"/>
		</operation>
		<operation name="PostRequest">
			<input message="tns:PostRequestRequestMessage"/>
			<output message="tns:PostRequestResponseMessage"/>
		</operation>
		<operation name="PostSNs">
			<input message="tns:PostSNsRequestMessage"/>
			<output message="tns:PostSNsResponseMessage"/>
		</operation>
		<operation name="PostSN">
			<input message="tns:PostSNRequestMessage"/>
			<output message="tns:PostSNResponseMessage"/>
		</operation>
		<operation name="PostProductType">
			<input message="tns:PostProductTypeRequestMessage"/>
			<output message="tns:PostProductTypeResponseMessage"/>
		</operation>
		<operation name="PostProductTypes">
			<input message="tns:PostProductTypesRequestMessage"/>
			<output message="tns:PostProductTypesResponseMessage"/>
		</operation>
		<operation name="PostProductSubcategorys">
			<input message="tns:PostProductSubcategorysRequestMessage"/>
			<output message="tns:PostProductSubcategorysResponseMessage"/>
		</operation>
		<operation name="PostProductSubcategory">
			<input message="tns:PostProductSubcategoryRequestMessage"/>
			<output message="tns:PostProductSubcategoryResponseMessage"/>
		</operation>
		<operation name="PostProductCategorys">
			<input message="tns:PostProductCategorysRequestMessage"/>
			<output message="tns:PostProductCategorysResponseMessage"/>
		</operation>
		<operation name="PostProductCategory">
			<input message="tns:PostProductCategoryRequestMessage"/>
			<output message="tns:PostProductCategoryResponseMessage"/>
		</operation>
		<operation name="PostDeviceType">
			<input message="tns:PostDeviceTypeRequestMessage"/>
			<output message="tns:PostDeviceTypeResponseMessage"/>
		</operation>
		<operation name="PostDeviceTypes">
			<input message="tns:PostDeviceTypesRequestMessage"/>
			<output message="tns:PostDeviceTypesResponseMessage"/>
		</operation>
	</portType>
	<binding name="ObmenCreationSoapBinding"
			type="tns:ObmenCreationPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostOrder">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostOrders">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostOrders"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSaleSource">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostSaleSource"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSaleSources">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostSaleSources"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostContact">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostContact"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostContacts">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostContacts"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostAccount">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostAccount"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostAccounts">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostAccounts"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostEmployee">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostEmployee"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostEmployees">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostEmployees"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProduct">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProduct"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProducts">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProducts"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClientDefect">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostClientDefect"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClientDefects">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostClientDefects"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostManager">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostManager"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostManagers">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostManagers"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostRequests">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostRequests"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostRequest">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostRequest"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSNs">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostSNs"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSN">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostSN"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductType">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductType"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductTypes">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductTypes"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductSubcategorys">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductSubcategorys"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductSubcategory">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductSubcategory"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductCategorys">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductCategorys"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductCategory">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductCategory"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostDeviceType">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostDeviceType"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostDeviceTypes">
			<soapbind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostDeviceTypes"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="ObmenCreationSoap12Binding"
			type="tns:ObmenCreationPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostOrder">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostOrders">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostOrders"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSaleSource">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostSaleSource"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSaleSources">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostSaleSources"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostContact">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostContact"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostContacts">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostContacts"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostAccount">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostAccount"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostAccounts">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostAccounts"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostEmployee">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostEmployee"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostEmployees">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostEmployees"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProduct">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProduct"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProducts">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProducts"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClientDefect">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostClientDefect"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClientDefects">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostClientDefects"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostManager">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostManager"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostManagers">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostManagers"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostRequests">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostRequests"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostRequest">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostRequest"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSNs">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostSNs"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSN">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostSN"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductType">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductType"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductTypes">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductTypes"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductSubcategorys">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductSubcategorys"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductSubcategory">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductSubcategory"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductCategorys">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductCategorys"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostProductCategory">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostProductCategory"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostDeviceType">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostDeviceType"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostDeviceTypes">
			<soap12bind:operation style="document"
					soapAction="http://crm1ctest.dyson.ru#ObmenCreation:PostDeviceTypes"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ObmenCreation">
		<port name="ObmenCreationSoap"
				binding="tns:ObmenCreationSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://crm1ctest.dyson.ru/CRM_TEST/ws/ObmenCreation.1cws"/>
		</port>
		<port name="ObmenCreationSoap12"
				binding="tns:ObmenCreationSoap12Binding">
			<soap12bind:address location="http://crm1ctest.dyson.ru/CRM_TEST/ws/ObmenCreation.1cws"/>
		</port>
	</service>
</definitions>