DysonCustomerService/ObmenCreation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="http://31.13.35.34/dyson_share_111"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="http://31.13.35.34/dyson_share_111"
		name="ObmenCreation"
		targetNamespace="http://31.13.35.34/dyson_share_111">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
				xmlns:xs1="http://31.13.35.34/dyson_share_111"
				targetNamespace="http://31.13.35.34/dyson_share_111"
				attributeFormDefault="unqualified"
				elementFormDefault="qualified">
			<xs:complexType name="ДефектыСоСловКлиента">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ЗаказКлиента">
				<xs:sequence>
					<xs:element name="CreateDate"
							type="xs:dateTime"/>
					<xs:element name="Date_Tk_Load"
							type="xs:dateTime"/>
					<xs:element name="deliveryDate"
							type="xs:date"/>
					<xs:element name="TimeDeliveryFrom"
							type="xs:int"/>
					<xs:element name="TimeDeliveryTo"
							type="xs:int"/>
					<xs:element name="TK_Plandate"
							type="xs:date"/>
					<xs:element name="completeDate"
							type="xs:date"/>
					<xs:element name="modifyDate"
							type="xs:dateTime"/>
					<xs:element name="orderID"
							type="xs:string"/>
					<xs:element name="orderIdPublic"
							type="xs:int"/>
					<xs:element name="OrderStatus"
							type="xs:string"/>
					<xs:element name="TK_Track"
							type="xs:string"/>
					<xs:element name="TK"
							type="xs:string"/>
					<xs:element name="OrderType"
							type="xs:int"/>
					<xs:element name="PayType"
							type="xs:string"/>
					<xs:element name="LogisticComment"
							type="xs:string"/>
					<xs:element name="OrderSumRUB"
							type="xs:decimal"/>
					<xs:element name="PayTransaction"
							type="xs:int"/>
					<xs:element name="DataReleaseH"
							type="xs:dateTime"/>
					<xs:element name="DataReleaseM"
							type="xs:dateTime"/>
					<xs:element name="PayTransactionODM"
							type="xs:string"/>
					<xs:element name="DataCheckM"
							type="xs:dateTime"/>
					<xs:element name="PayDate"
							type="xs:dateTime"/>
					<xs:element name="CreditStatus"
							type="xs:string"/>
					<xs:element name="CreditSumm"
							type="xs:decimal"/>
					<xs:element name="paper_id"
							type="xs:string"/>
					<xs:element name="InCash"
							type="xs:decimal"/>
					<xs:element name="OnLinePaid"
							type="xs:decimal"/>
					<xs:element name="PanType"
							type="xs:string"/>
					<xs:element name="DeliveryCost"
							type="xs:decimal"/>
					<xs:element name="PromoSum"
							type="xs:decimal"/>
					<xs:element name="Comment"
							type="xs:string"/>
					<xs:element name="Manager"
							type="xs:string"/>
					<xs:element name="ManagerPhone"
							type="xs:string"/>
					<xs:element name="email"
							type="xs:string"/>
					<xs:element name="CourierInfo"
							type="xs:string"/>
					<xs:element name="Region"
							type="xs:string"/>
					<xs:element name="Locality"
							type="xs:string"/>
					<xs:element name="Street"
							type="xs:string"/>
					<xs:element name="kladr"
							type="xs:string"/>
					<xs:element name="FIAS"
							type="xs:string"/>
					<xs:element name="Metro"
							type="xs:string"/>
					<xs:element name="House"
							type="xs:string"/>
					<xs:element name="Building"
							type="xs:string"/>
					<xs:element name="Korp"
							type="xs:string"/>
					<xs:element name="Flat"
							type="xs:string"/>
					<xs:element name="Entrance"
							type="xs:string"/>
					<xs:element name="SOCR_Region"
							type="xs:string"/>
					<xs:element name="SOCR_Locality"
							type="xs:string"/>
					<xs:element name="SOCR_City"
							type="xs:string"/>
					<xs:element name="SOCR_Street"
							type="xs:string"/>
					<xs:element name="SOCR_Area"
							type="xs:string"/>
					<xs:element name="FLOOR"
							type="xs:string"/>
					<xs:element name="Intercom"
							type="xs:string"/>
					<xs:element name="City"
							type="xs:string"/>
					<xs:element name="DistanceFromMKAD"
							type="xs:string"/>
					<xs:element name="Area"
							type="xs:string"/>
					<xs:element name="NumberDeparture"
							type="xs:string"/>
					<xs:element name="Lat"
							type="xs:string"/>
					<xs:element name="Lon"
							type="xs:string"/>
					<xs:element name="ShipDate"
							type="xs:date"/>
					<xs:element name="DysonChannelCode"
							type="xs:string"/>
					<xs:element name="Organization"
							type="xs:string"/>
					<xs:element name="WarehouseCode"
							type="xs:string"/>
					<xs:element name="CommentTK"
							type="xs:string"/>
					<xs:element name="ID_Сlient"
							type="xs:string"/>
					<xs:element name="Tovars"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="TovarCod"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Kol"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="TovarSum"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="RRC"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="SN"
									type="xs:string"
									use="required"/>
							<xs:attribute name="NDS_S"
									type="xs:int"
									use="required"/>
							<xs:attribute name="NDS"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="ProductsCanceled"
									type="xs:boolean"
									use="required"/>
							<xs:attribute name="ReasonCancellation"
									type="xs:string"
									use="required"/>
							<xs:attribute name="PROMOCODE"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ЗаявкаНаРемонт">
				<xs:sequence>
					<xs:element name="CreateDate"
							type="xs:dateTime"/>
					<xs:element name="DocumentNumber"
							type="xs:string"/>
					<xs:element name="Organization"
							type="xs:string"/>
					<xs:element name="WarehouseCode"
							type="xs:string"/>
					<xs:element name="ServiceOption"
							type="xs:string"/>
					<xs:element name="TypeRepair"
							type="xs:string"/>
					<xs:element name="Article"
							type="xs:string"/>
					<xs:element name="SN"
							type="xs:string"/>
					<xs:element name="DateDeparture"
							type="xs:dateTime"/>
					<xs:element name="Master"
							type="xs:string"/>
					<xs:element name="Shop"
							type="xs:string"/>
					<xs:element name="DatePurchase"
							type="xs:date"/>
					<xs:element name="TypeGuarantee"
							type="xs:string"/>
					<xs:element name="RenewalWarranty"
							type="xs:boolean"/>
					<xs:element name="ActualDateRepairExecution"
							type="xs:date"/>
					<xs:element name="InformationClient"
							type="xs:string"/>
					<xs:element name="InternalComment"
							type="xs:string"/>
					<xs:element name="ViolationOperation"
							type="xs:boolean"/>
					<xs:element name="CommentsResultRepair"
							type="xs:int"/>
					<xs:element name="FeedbackClient"
							type="xs:string"/>
					<xs:element name="Defects"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Defect"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="DefectsAccordingClient"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="DefectAccordingClient"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Spares"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="Spare"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Required"
									type="xs:int"
									use="required"/>
							<xs:attribute name="Availability"
									type="xs:int"
									use="required"/>
							<xs:attribute name="Price"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="Paid"
									type="xs:boolean"
									use="required"/>
							<xs:attribute name="SpareAmount"
									type="xs:decimal"
									use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Services"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Master"
										type="xs:string"/>
							</xs:sequence>
							<xs:attribute name="Service"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Kol"
									type="xs:int"
									use="required"/>
							<xs:attribute name="Amount"
									type="xs:decimal"
									use="required"/>
							<xs:attribute name="Paid"
									type="xs:boolean"
									use="required"/>
							<xs:attribute name="Content"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Price"
									type="xs:decimal"
									use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="ID_Сlient"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Контрагенты">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Legal"
							type="xs:boolean"/>
					<xs:element name="INN"
							type="xs:string"/>
					<xs:element name="KPP"
							type="xs:string"/>
					<xs:element name="PhoneNumber"
							type="xs:string"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="LegalPhoneNumber"
							type="xs:string"/>
					<xs:element name="FIO_F"
							type="xs:string"/>
					<xs:element name="Name_F"
							type="xs:string"/>
					<xs:element name="MiddleName_F"
							type="xs:string"/>
					<xs:element name="Email"
							type="xs:string"/>
					<xs:element name="FSSMS"
							type="xs:boolean"/>
					<xs:element name="FSE"
							type="xs:boolean"/>
					<xs:element name="FME"
							type="xs:boolean"/>
					<xs:element name="FSCO"
							type="xs:boolean"/>
					<xs:element name="FMCO"
							type="xs:boolean"/>
					<xs:element name="FMSMS"
							type="xs:boolean"/>
					<xs:element name="FSR"
							type="xs:boolean"/>
					<xs:element name="FMR"
							type="xs:boolean"/>
					<xs:element name="IDDepersonalizedClient"
							type="xs:string"/>
					<xs:element name="ThereAreLK"
							type="xs:boolean"/>
					<xs:element name="ObjectTypeList"
							type="xs:string"/>
					<xs:element name="FIOYO"
							type="xs:string"/>
					<xs:element name="PostYO"
							type="xs:string"/>
					<xs:element name="MobTelYO"
							type="xs:string"/>
					<xs:element name="EmailYO"
							type="xs:string"/>
					<xs:element name="FIOYD"
							type="xs:string"/>
					<xs:element name="PostYD"
							type="xs:string"/>
					<xs:element name="MobTelYD"
							type="xs:string"/>
					<xs:element name="EmailYD"
							type="xs:string"/>
					<xs:element name="PointSale"
							type="xs:boolean"/>
					<xs:element name="DysonChannelCode"
							type="xs:string"/>
					<xs:element name="StatusClient"
							type="xs:string"/>
					<xs:element name="AddressFact"
							type="xs:string"/>
					<xs:element name="AddressLegal"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Номенклатура">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Article"
							type="xs:string"/>
					<xs:element name="WorkName"
							type="xs:string"/>
					<xs:element name="PrintName"
							type="xs:string"/>
					<xs:element name="TradeMark"
							type="xs:string"/>
					<xs:element name="Category"
							type="xs:string"/>
					<xs:element name="UnitID"
							type="xs:string"/>
					<xs:element name="Weight"
							type="xs:decimal"/>
					<xs:element name="DeviceType"
							type="xs:string"/>
					<xs:element name="Distribution"
							type="xs:string"/>
					<xs:element name="LifeTime"
							type="xs:string"/>
					<xs:element name="Guarantee"
							type="xs:string"/>
					<xs:element name="Personalization"
							type="xs:boolean"/>
					<xs:element name="ProductSubcategory"
							type="xs:string"/>
					<xs:element name="Type"
							type="xs:string"/>
					<xs:element name="Name"
							type="xs:string"/>
					<xs:element name="OriginCountry"
							type="xs:string"/>
					<xs:element name="AddressProduction"
							type="xs:string"/>
					<xs:element name="ProductColor"
							type="xs:string"/>
					<xs:element name="ProductModel"
							type="xs:string"/>
					<xs:element name="NumberOfAirFlowRates"
							type="xs:int"/>
					<xs:element name="PackingLength"
							type="xs:decimal"/>
					<xs:element name="PackingWidth"
							type="xs:decimal"/>
					<xs:element name="PackingHeight"
							type="xs:decimal"/>
					<xs:element name="PackingVolume"
							type="xs:decimal"/>
					<xs:element name="AssemblyWeight"
							type="xs:decimal"/>
					<xs:element name="ProductGrossWeightInPackaging"
							type="xs:decimal"/>
					<xs:element name="OptimalVisitingArea"
							type="xs:decimal"/>
					<xs:element name="ProductPowerConsumption"
							type="xs:decimal"/>
					<xs:element name="MinTemperature"
							type="xs:decimal"/>
					<xs:element name="MaxTemperature"
							type="xs:decimal"/>
					<xs:element name="HeatingElemenType"
							type="xs:string"/>
					<xs:element name="AirHumidificationType"
							type="xs:string"/>
					<xs:element name="MaxWaterConsumption"
							type="xs:decimal"/>
					<xs:element name="WaterTankVolume"
							type="xs:decimal"/>
					<xs:element name="IssueYear"
							type="xs:string"/>
					<xs:element name="Nozzle"
							type="xs:string"/>
					<xs:element name="CableLengthMeter"
							type="xs:decimal"/>
					<xs:element name="FilterTypes"
							type="xs:string"/>
					<xs:element name="SuctionPowerTurbo"
							type="xs:decimal"/>
					<xs:element name="SuctionPowerAuto"
							type="xs:decimal"/>
					<xs:element name="SuctionPowerEco"
							type="xs:decimal"/>
					<xs:element name="ContainerVolume"
							type="xs:decimal"/>
					<xs:element name="PipeType"
							type="xs:string"/>
					<xs:element name="NoiseLevelWithPipeTurbo"
							type="xs:decimal"/>
					<xs:element name="NoiseLevelWithPipeEco"
							type="xs:decimal"/>
					<xs:element name="NoiseLevelWithoutPipeTurbo"
							type="xs:decimal"/>
					<xs:element name="NoiseLevelWithoutPipeEco"
							type="xs:decimal"/>
					<xs:element name="PowerSource"
							type="xs:string"/>
					<xs:element name="TemperatureMode"
							type="xs:int"/>
					<xs:element name="AdditionalMode"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Ответ">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="YesError"
							type="xs:boolean"/>
					<xs:element name="Errors"
							type="xs:string"
							minOccurs="0"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетДефектыКлиента">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="ClientDefect"
							type="tns:ДефектыСоСловКлиента"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетЗаказов">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="Order"
							type="tns:ЗаказКлиента"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетЗаявок">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="Request"
							type="tns:ЗаявкаНаРемонт"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетКонтрагентов">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="Partner"
							type="tns:Контрагенты"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетНоменклатуры">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="Tovar"
							type="tns:Номенклатура"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетОтвета">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="YesError"
							type="xs:boolean"/>
					<xs:element name="Errors"
							minOccurs="0"
							maxOccurs="unbounded">
						<xs:complexType>
							<xs:attribute name="ID"
									type="xs:string"
									use="required"/>
							<xs:attribute name="Error"
									type="xs:string"
									use="required"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетПользователи">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="User"
							type="tns:Пользователи"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ПакетРегистрация">
				<xs:sequence>
					<xs:element name="ID_Pack"
							type="xs:string"/>
					<xs:element name="RegSN"
							type="tns:РегистрацияСерийныхНомеровКлиентов"
							maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Пользователи">
				<xs:sequence>
					<xs:element name="ID_1С"
							type="xs:string"/>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="Name"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="РегистрацияСерийныхНомеровКлиентов">
				<xs:sequence>
					<xs:element name="MarkDeletion"
							type="xs:boolean"/>
					<xs:element name="SN"
							type="xs:string"/>
					<xs:element name="CreateDate"
							type="xs:dateTime"/>
					<xs:element name="Article"
							type="xs:string"/>
					<xs:element name="TypeGuarantee"
							type="xs:string"/>
					<xs:element name="Shop"
							type="xs:string"/>
					<xs:element name="DatePurchase"
							type="xs:date"/>
					<xs:element name="Comment"
							type="xs:string"/>
					<xs:element name="ID_Сlient"
							type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="PostClients">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетКонтрагентов"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClient">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:Контрагенты"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostTovars">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетНоменклатуры"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostTovarsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostTovar">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:Номенклатура"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostTovarResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientDefects">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетДефектыКлиента"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientDefectsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientDefect">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ДефектыСоСловКлиента"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostClientDefectResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostManagers">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетПользователи"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostManagersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostManager">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:Пользователи"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostManagerResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOrders">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетЗаказов"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOrdersResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOrder">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ЗаказКлиента"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostOrderResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRequests">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетЗаявок"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRequestsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:ЗаявкаНаРемонт"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostRequestResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSNs">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Pack"
								type="tns:ПакетРегистрация"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSNsResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSN">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Object"
								type="tns:РегистрацияСерийныхНомеровКлиентов"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PostSNResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="return"
								type="tns:ПакетОтвета"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="PostClientsRequestMessage">
		<part name="parameters"
				element="tns:PostClients"/>
	</message>
	<message name="PostClientsResponseMessage">
		<part name="parameters"
				element="tns:PostClientsResponse"/>
	</message>
	<message name="PostClientRequestMessage">
		<part name="parameters"
				element="tns:PostClient"/>
	</message>
	<message name="PostClientResponseMessage">
		<part name="parameters"
				element="tns:PostClientResponse"/>
	</message>
	<message name="PostTovarsRequestMessage">
		<part name="parameters"
				element="tns:PostTovars"/>
	</message>
	<message name="PostTovarsResponseMessage">
		<part name="parameters"
				element="tns:PostTovarsResponse"/>
	</message>
	<message name="PostTovarRequestMessage">
		<part name="parameters"
				element="tns:PostTovar"/>
	</message>
	<message name="PostTovarResponseMessage">
		<part name="parameters"
				element="tns:PostTovarResponse"/>
	</message>
	<message name="PostClientDefectsRequestMessage">
		<part name="parameters"
				element="tns:PostClientDefects"/>
	</message>
	<message name="PostClientDefectsResponseMessage">
		<part name="parameters"
				element="tns:PostClientDefectsResponse"/>
	</message>
	<message name="PostClientDefectRequestMessage">
		<part name="parameters"
				element="tns:PostClientDefect"/>
	</message>
	<message name="PostClientDefectResponseMessage">
		<part name="parameters"
				element="tns:PostClientDefectResponse"/>
	</message>
	<message name="PostManagersRequestMessage">
		<part name="parameters"
				element="tns:PostManagers"/>
	</message>
	<message name="PostManagersResponseMessage">
		<part name="parameters"
				element="tns:PostManagersResponse"/>
	</message>
	<message name="PostManagerRequestMessage">
		<part name="parameters"
				element="tns:PostManager"/>
	</message>
	<message name="PostManagerResponseMessage">
		<part name="parameters"
				element="tns:PostManagerResponse"/>
	</message>
	<message name="PostOrdersRequestMessage">
		<part name="parameters"
				element="tns:PostOrders"/>
	</message>
	<message name="PostOrdersResponseMessage">
		<part name="parameters"
				element="tns:PostOrdersResponse"/>
	</message>
	<message name="PostOrderRequestMessage">
		<part name="parameters"
				element="tns:PostOrder"/>
	</message>
	<message name="PostOrderResponseMessage">
		<part name="parameters"
				element="tns:PostOrderResponse"/>
	</message>
	<message name="PostRequestsRequestMessage">
		<part name="parameters"
				element="tns:PostRequests"/>
	</message>
	<message name="PostRequestsResponseMessage">
		<part name="parameters"
				element="tns:PostRequestsResponse"/>
	</message>
	<message name="PostRequestRequestMessage">
		<part name="parameters"
				element="tns:PostRequest"/>
	</message>
	<message name="PostRequestResponseMessage">
		<part name="parameters"
				element="tns:PostRequestResponse"/>
	</message>
	<message name="PostSNsRequestMessage">
		<part name="parameters"
				element="tns:PostSNs"/>
	</message>
	<message name="PostSNsResponseMessage">
		<part name="parameters"
				element="tns:PostSNsResponse"/>
	</message>
	<message name="PostSNRequestMessage">
		<part name="parameters"
				element="tns:PostSN"/>
	</message>
	<message name="PostSNResponseMessage">
		<part name="parameters"
				element="tns:PostSNResponse"/>
	</message>
	<portType name="ObmenCreationPortType">
		<operation name="PostClients">
			<input message="tns:PostClientsRequestMessage"/>
			<output message="tns:PostClientsResponseMessage"/>
		</operation>
		<operation name="PostClient">
			<input message="tns:PostClientRequestMessage"/>
			<output message="tns:PostClientResponseMessage"/>
		</operation>
		<operation name="PostTovars">
			<input message="tns:PostTovarsRequestMessage"/>
			<output message="tns:PostTovarsResponseMessage"/>
		</operation>
		<operation name="PostTovar">
			<input message="tns:PostTovarRequestMessage"/>
			<output message="tns:PostTovarResponseMessage"/>
		</operation>
		<operation name="PostClientDefects">
			<input message="tns:PostClientDefectsRequestMessage"/>
			<output message="tns:PostClientDefectsResponseMessage"/>
		</operation>
		<operation name="PostClientDefect">
			<input message="tns:PostClientDefectRequestMessage"/>
			<output message="tns:PostClientDefectResponseMessage"/>
		</operation>
		<operation name="PostManagers">
			<input message="tns:PostManagersRequestMessage"/>
			<output message="tns:PostManagersResponseMessage"/>
		</operation>
		<operation name="PostManager">
			<input message="tns:PostManagerRequestMessage"/>
			<output message="tns:PostManagerResponseMessage"/>
		</operation>
		<operation name="PostOrders">
			<input message="tns:PostOrdersRequestMessage"/>
			<output message="tns:PostOrdersResponseMessage"/>
		</operation>
		<operation name="PostOrder">
			<input message="tns:PostOrderRequestMessage"/>
			<output message="tns:PostOrderResponseMessage"/>
		</operation>
		<operation name="PostRequests">
			<input message="tns:PostRequestsRequestMessage"/>
			<output message="tns:PostRequestsResponseMessage"/>
		</operation>
		<operation name="PostRequest">
			<input message="tns:PostRequestRequestMessage"/>
			<output message="tns:PostRequestResponseMessage"/>
		</operation>
		<operation name="PostSNs">
			<input message="tns:PostSNsRequestMessage"/>
			<output message="tns:PostSNsResponseMessage"/>
		</operation>
		<operation name="PostSN">
			<input message="tns:PostSNRequestMessage"/>
			<output message="tns:PostSNResponseMessage"/>
		</operation>
	</portType>
	<binding name="ObmenCreationSoapBinding"
			type="tns:ObmenCreationPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostClients">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostClients"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClient">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostClient"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostTovars">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostTovars"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostTovar">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostTovar"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClientDefects">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostClientDefects"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClientDefect">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostClientDefect"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostManagers">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostManagers"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostManager">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostManager"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostOrders">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostOrders"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostOrder">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostOrder"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostRequests">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostRequests"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostRequest">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostRequest"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSNs">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostSNs"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSN">
			<soapbind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostSN"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="ObmenCreationSoap12Binding"
			type="tns:ObmenCreationPortType">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="PostClients">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostClients"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClient">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostClient"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostTovars">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostTovars"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostTovar">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostTovar"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClientDefects">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostClientDefects"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostClientDefect">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostClientDefect"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostManagers">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostManagers"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostManager">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostManager"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostOrders">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostOrders"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostOrder">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostOrder"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostRequests">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostRequests"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostRequest">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostRequest"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSNs">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostSNs"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="PostSN">
			<soap12bind:operation style="document"
					soapAction="http://31.13.35.34/dyson_share_111#ObmenCreation:PostSN"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ObmenCreation">
		<port name="ObmenCreationSoap"
				binding="tns:ObmenCreationSoapBinding">
			<documentation> 
				<wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
						conformsTo="http://ws-i.org/profiles/basic/1.1"/>
			</documentation>
			<soapbind:address location="http://31.13.35.34/dyson_share_111/ws/ObmenCreation.1cws"/>
		</port>
		<port name="ObmenCreationSoap12"
				binding="tns:ObmenCreationSoap12Binding">
			<soap12bind:address location="http://31.13.35.34/dyson_share_111/ws/ObmenCreation.1cws"/>
		</port>
	</service>
</definitions>